#traefik_dynamic.yaml
http:
  routers:
    frontend-service:
      rule: "Host(`dependencyinspection.com`) && PathPrefix(`/`) || Host(`www.dependencyinspection.com`) && PathPrefix(`/`)"
      entryPoints:
        - websecure
      service: "frontend-service"
      tls:
        certResolver: myresolver
        domains:
          - main: "dependencyinspection.com"
            sans:
              - "www.dependencyinspection.com"
      middlewares:
        - www-redirect
        # - strip-api-prefix
      #   - nick-only
    backend-service:
      rule: "Host(`dependencyinspection.com`) && PathPrefix(`/api`) || Host(`www.dependencyinspection.com`) && PathPrefix(`/api`)"
      entryPoints:
        - websecure
      service: "backend-service"
      tls:
        certResolver: myresolver
        domains:
          - main: "dependencyinspection.com"
            sans:
              - "www.dependencyinspection.com"
      middlewares:
        - www-redirect
        # - strip-api-prefix
      #   - nick-only
  middlewares:
    strip-api-prefix:
      # replacePathRegex:
      #   regex: "(^http:dependencyinspection\\.com/)api/(.*)"
      #   replacement: "$1/$2"
        # regex:
        #   - "/foo/[a-z0-9]+/[0-9]+/"
      stripPrefix:
        prefixes:
          - "/api"
    nick-only:
      ipAllowList:
        sourceRange:
          - "107.10.235.119/32"
    www-redirect:
      redirectRegex:
        regex: "^https?://www\\.(.*)"
        replacement: "https://$1"
        permanent: true
  services:
    frontend-service:
      loadbalancer:
        servers:
          - url: "http://frontend-service:8081"
    backend-service:
      loadbalancer:
        servers:
          - url: "http://backend-service:5001"
    neo4j-service:
      loadbalancer: 
        servers:
          - url: "http://neo4j-service:7687"
      # middlewares: 
      #   - www-redirect
      #   - nick-only

